<%- include('../../../includesMonitoring/header')-%>
        <div class="wrapper">
          <%- include('../../../includesMonitoring/topbar')-%>
            <div class="page-wrap">
              <%- include('../../../includesMonitoring/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>কৃষক পুরষ্কার তথ্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/upazilla/farmerPrizeFormPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                                    <label for="name" class="col-md-3 control-label">ব্যাচ নং/নাম</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="name" placeholder="ব্যাচ নং/নাম">
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="description" class="col-md-3 control-label">বিস্তারিত</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="description" placeholder="বিস্তারিত">
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="date" class="col-md-3 control-label">তারিখ</label>
                                                    <div class="col-md-9">
                                                        <input type="date" class="form-control" name="date" placeholder="তারিখ">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label >Choose</label>
                                                    <input type="file" id="filename" class="form-control" name="newsUp" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="year" class="col-md-3 control-label">বছর</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="year" placeholder="বছর">
                                                    </div>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="year" class="col-md-3 control-label">userid</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <!-- Button -->                                        
                                                    <div class="col-md-offset-3 col-md-9">
                                                    <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                                    </div>
                                                </div>
                                                
<%- include('../../../includesMonitoring/footer')-%>