<%- include('../../includesMonitoring/header')-%>
<div class="wrapper">
  <%- include('../../includesMonitoring/topbar')-%>
  <div class="page-wrap">
    <%- include('../../includesMonitoring/sidebar')-%>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row clearfix">
          <div
            id="signupbox"
            style="margin-top: 50px"
            class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
          >
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title"><h2>মাঠ দিবস তথ্য ফর্ম</h2></div>
                
              </div>
              <div class="panel-body">
                
                <form
                  action="/upazilla/reviewFormUpdatePost/<%= output.id %>"
                  id="FieldTrialForm"
                  class="form-horizontal"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
                >

                  <!-- Batch Name -->
                  <div class="form-group">
                    <label for="name" class="col-md-3 control-label">ব্যাচ নং/নাম</label>
                    <div class="col-md-9">
                      <select name="batch">
                        <option value="<%= output.name %>" disabled selected hidden>
                          <%= output.name %>
                        </option>

                        <% for(let step=0; step< parseInt( activities.review
                        ); step++) { %>

                        <option value="<%= step+1 %>" > <%=title%> <%=step+1%></option>

                        <% } %>
                      </select>
                    </div>
                  </div>

                  <!-- Details -->
                  <div class="form-group">
                    <label for="description" class="col-md-3 control-label">বিস্তারিত</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        class="form-control"
                        name="description"
                        value="<%= output.description %>"
                      />
                    </div>
                  </div>

                  <!-- Date  -->
                  <div class="form-group">
                    <label for="date" class="col-md-3 control-label"
                      >তারিখ</label
                    >
                    <div class="col-md-9">
                      <input
                        type="date"
                        class="form-control"
                        name="date"
                        value="<%= output.date %>"
                      />
                    </div>
                  </div>

                  <!-- images -->
                  <div>
                    <%
                      var images = JSON.parse(output.image);
                      images.map( (image,key) => { %>
                            <img style="width: 100px; " src="<%= image %>" alt="">
                    <%    })
                    %>

                  </div>
                  <div class="form-group">
                    <label>Choose</label>
                    <input type="file" id="filename" class="form-control" name="newsUp"/>
                  </div>

                  <!-- year  -->
                  <div class="form-group">
                    <div class="col-md-9">
                      <label for="year">বছর :</label>
                      <select id="year" name="year" required>
                        <%
                        if(output.year === 2017){ %>
                          <option value="<%= output.year %>">২০১৭-১৮</option>
                        <%  }
                        else if(output.year === 2018){ %>
                          <option value="<%= output.year %>">২০১৮-১৯</option>
                        <%  }
                        else if(output.year === 2019){ %>
                          <option value="<%= output.year %>">২০১৯-২০</option>
                        <%  }
                        else if(output.year === 2020){ %>
                          <option value="<%= output.year %>">২০২০-২১</option>
                        <%  }
                        else if(output.year === 2021){ %>
                          <option value="<%= output.year %>">২০২১-২২</option>
                        <%  }
                        else if(output.year === 2022){ %>
                          <option value="<%= output.year %>">২০২২-২৩</option>
                        <%  } %>

                        <option value="2017">২০১৭-১৮</option>
                        <option value="2018">২০১৮-১৯</option>
                        <option value="2019">২০১৯-২০</option>
                        <option value="2020">২০২০-২১</option>
                        <option value="2021">২০২১-২২</option>
                        <option value="2022">২০২২-২৩</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-9">
                      <input type="hidden" class="form-control" name="upazillaId" placeholder="id" value="<%= output.upazillaId %>" />
                    </div>
                  </div>
                  
                  <!-- Button -->
                  <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                      <input
                        type="submit"
                        name="submit"
                        value="submit"
                        class="btn btn-primary"
                      />
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../includesMonitoring/footer')-%>
