<%- include('../../includesMonitoring/header')-%>
<div class="wrapper">
    <%- include('../../includesMonitoring/topbar')-%>
    <div class="page-wrap">
        <%- include('../../includesMonitoring/sidebar')-%>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title text-center">
                                    <h2>কৃষক পুরষ্কার তথ্য যোগ</h2>
                                </div>
                                <p><%
                                    if(success !=''){ %>
                                        <%= success %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="panel-body" >
                                <form action="/pd/postActivities" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>
                                    <% if(messages.message){ %>
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong><%= messages.message %></strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <% } %>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1" class="col-md-3">জেলা</label>
                                        <select class="form-control" id="dd_id" name="dd_id">
                                            <option> Choose an জেলা </option>
                                            <% ddArray.map((dd,key) => { %>
                                                <option value = <%= dd.id %> > <%= key+1 %> . <%= dd.uname %> </option>
                                            <% }) %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect12" class="col-md-3">উপজেলা</label>
                                        <select class="form-control" id="upazillaId" name="upazillaId">

                                        </select>
                                    </div>



                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">saao_training</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="saao_training" placeholder="saao_training">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="description" class="col-md-3 control-label">মাঠ দিবস</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="field_day" placeholder="মাঠ দিবস">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="date" class="col-md-3 control-label">কৃষক প্রশিক্ষণ</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="farmer_training" placeholder="কৃষক প্রশিক্ষণ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">review</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="review" placeholder="review">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">কৃষক পুরষকার বিতরণ দিবস</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="farmer_awards" placeholder="কৃষক পুরষকার বিতরণ দিবস">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">bij</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="bij" placeholder="bij" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">motivational</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="motivational" placeholder="motivational" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" name="submit" value="submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../includesMonitoring/footer')-%>
<script type="text/javascript">
    $('#dd_id').on("change click load",async function () {
        var dd_id = $('#dd_id').val();
        const { data } = await axios.post(`/pd/fetchUpazilla`,{dd_id:dd_id});
        $('#upazillaId').empty();
        if(data){
            $('#upazillaId').append('<option value="0"> Choose upazillaId </option>');
            if (data.length > 0) {
                $.each(data, function(key, value){
                    var count = key+1
                    $('#upazillaId').append('<option value="'+value.id+'">' + count + ' . ' + value.upazilla + '</option>');
                });
            }
            else{
                $('#upazillaId').append('<option value="">No Upazilla Found</option>');
            }

        }else {
            $('#upazillaId').empty();
        }
    });
</script>