<%if (records.length >0){ %>
    <table class="table table-striped table-bordered" id="tblCustomers">
        <thead>
        <tr>
            <th scope="col">ক্রমিক নং</th>
            <th scope="col"> উপজেলা </th>
            <th scope="col"> এসএএও প্রশিক্ষণ</th>
            <th scope="col"> মাঠ দিবস	</th>
            <th scope="col"> কৃষক প্রশিক্ষণ </th>
            <th scope="col"> রিভিউ ডিস্কাশন</th>
            <th scope="col"> কৃষক পুরষকার বিতরণ দিবস	</th>
            <th scope="col"> বীজ প্রত্যয়ন </th>
            <th scope="col"> মোটিভেশনাল ট্যুর </th>
        </tr>
        </thead>
        <tbody>
        <% records.map((activity,key) => { %>
            <tr>
                <th scope="row"><%= key+1 %></th>
                <td><%= activity.upazilla.uname %></td>
                <td><%= activity.saao_training_done %> / <%= activity.saao_training %></td>
                <td><%= activity.field_day_done %> / <%= activity.field_day %></td>
                <td><%= activity.farmer_training_done %> / <%= activity.farmer_training %></td>
                <td><%= activity.review_done %> / <%= activity.review %></td>
                <td><%= activity.farmer_awards_done %> / <%= activity.farmer_awards %></td>
                <td><%= activity.bij_done %> / <%= activity.bij %></td>
                <td><%= activity.motivational_done %> / <%= activity.motivational %></td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/pd/editActivity/<%= activity.id %>"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        <%  }) %>
        </tbody>
    </table>


<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col">ক্রমিক নং</th>
            <th scope="col"> উপজেলা </th>
            <th scope="col"> এসএএও প্রশিক্ষণ</th>
            <th scope="col"> মাঠ দিবস	</th>
            <th scope="col"> কৃষক প্রশিক্ষণ </th>
            <th scope="col"> রিভিউ ডিস্কাশন</th>
            <th scope="col"> কৃষক পুরষকার বিতরণ দিবস	</th>
            <th scope="col"> বীজ প্রত্যয়ন </th>
            <th scope="col"> মোটিভেশনাল ট্যুর </th>
            <th scope="col"> পরিবর্তন </th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="9">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>

<script type="text/javascript">

    var xAxiss = JSON.parse('<%- xAxis %>');
    var yAxiss = JSON.parse('<%- yAxis %>');


    var ctx = document.getElementById('chart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: xAxiss,
            datasets: [{
                label: '# percentage of finished activities',
                data: yAxiss,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

