<%if (records.length >0){ %>
    <table class="table table-striped table-bordered" id="tblCustomers">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col"> উপজেলা </th>
            <th scope="col"> মাঠ প্রদর্শনী </th>
            <th scope="col"> মাঠ দিবস	</th>
            <th scope="col"> কৃষক প্রশিক্ষণ </th>
            <th scope="col"> কৃষি মেলা	</th>
            <th scope="col"> কৃষক পুরষকার বিতরণ দিবস	</th>
            <th scope="col"> এলএলপি বিতরণ </th>
            <th scope="col"> সৌর আলোর ফাদ বিতরণ </th>
        </tr>
        </thead>
        <tbody>
        <% records.map((activity,key) => { %>
            <tr>
                <th scope="row"><%= key+1 %></th>
                <td><%= activity.upazilla.uname %></td>
                <td><%= activity.field_exhibition_done %> / <%= activity.field_exhibition %></td>
                <td><%= activity.field_day_done %> / <%= activity.field_day %></td>
                <td><%= activity.farmer_training_done %> / <%= activity.farmer_training %></td>
                <td><%= activity.agricultural_fair_done %> / <%= activity.agricultural_fair %></td>
                <td><%= activity.farmer_awards_done %> / <%= activity.farmer_awards %></td>
                <td><%= activity.llP_distribution_done %> / <%= activity.llP_distribution %></td>
                <td><%= activity.solarlight_trap_done %> / <%= activity.solarlight_trap %></td>
            </tr>
        <%  }) %>
        </tbody>
    </table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col"> উপজেলা </th>
            <th scope="col"> মাঠ প্রদর্শনী </th>
            <th scope="col"> মাঠ দিবস	</th>
            <th scope="col"> কৃষক প্রশিক্ষণ </th>
            <th scope="col"> কৃষি মেলা	</th>
            <th scope="col"> কৃষক পুরষকার বিতরণ দিবস	</th>
            <th scope="col"> এলএলপি বিতরণ </th>
            <th scope="col"> সৌর আলোর ফাদ বিতরণ </th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="9">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>